:root {
  --blue-text-colour: #2196F3;
}



.body {
font-family: 'Roboto', sans-serif;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  outline: 2px solid black;
}

/*--------------header---------------------*/

.header {
  padding-top: 24px;
  padding-bottom: 25px;
}
.header-logo {
font-family: Raleway;
font-style: Bold;
font-size: 26px;
line-height: calc(31 / 26);
line-height: 100%;
align: Left;
vertical-align: Top;
letter-spacing: 3%;
display: inline-block;
color:#2196F3;
}
.header-studio {
font-family: Raleway;
font-style: Bold;
font-size: 26px;
line-height: calc(31 / 26);
line-height: 100%;
align: Left;
vertical-align: Top;
letter-spacing: 3%;
display: inline-block;
color: #212121;
}


.header-list {
font-size: 14px;
line-height: calc(16 / 14);
line-height: 100%;
align: Left;
vertical-align: Top;
letter-spacing: 2%;
}

.header-link-studio{
  color: #2196F3;
}

.header-link {  
color: #212121;
}

.header-mail {
color:#2196F3;
}

.header-tel {
  color:#757575 ;
}


/*--------------solution---------------------*/

.solution {
  background: #2F303A; 
  padding-top: 200px;
  padding-bottom: 200px;
}

.solution-title {
color: #FFFFFF;
font-size: 44px;
line-height: calc(60 / 44);
line-height: 116%;
align: Center;
vertical-align: Top;
letter-spacing: 6%;
width: 696px;
padding-left: 4.56px;
padding-right: 4.56px;
margin: 0 auto;
padding-bottom: 30px;
}

.solution-btn {
background-color: #2196F3;
color: #FFFFFF; 
effect: Drop shadow;
radius: 4px;
offset: 0px, 4px;
width: 200px;
padding-right: 7px;
padding-left: 7px;
margin: 0 auto;
}

/*-------------grade---------------------*/


.grade {
padding-top: 94px;
padding-bottom: 94px;
}

.grade-title{
  color:#212121;
  font-size: 14px;
  line-height: calc(16 / 14);
  line-height: 100%;
  align: Left;
  vertical-align: Top;
  letter-spacing: 3%;
}

.grade-aft-title {
color: #757575;
font-style: Regular;
font-size: 14px;
line-height: calc(24 / 14);
line-height: 146%;
align: Left;
vertical-align: Top;
letter-spacing: 3%;
padding-top: 10px;
}

/*-----------------whatdo_________________*/

.whatdo {
  padding-bottom: 94px;
  padding-top: 94px;
}

.whatdo-title {
  color: #212121;
  font-style: Bold;
  font-size: 36px;
  line-height: 1.16;
  line-height: 100%;
  vertical-align: Top;
  letter-spacing: 3%;
  padding-bottom: 50px;
  width: 376px;
  padding-left: 6.12px;
  padding-right: 6.12px;
  margin: 0 auto;

  }
  
  /*------------team-----------------*/

.team {
  padding-top: 94px;
  padding-bottom: 94px;
}
.team-title {
  font-style: Bold;
  font-size: 36px;
  line-height: calc(42 / 36);
  line-height: 100%;
  align:-Center;
  vertical-align: Top;
  letter-spacing: 3%;
  width: 264px;
  padding-bottom: 50px;
  padding-left: 6.68px;
  padding-right: 6.68px;
  margin: 0 auto;
}

.team-pre-title {
color: #212121;
font-style: Medium;
font-size: 16px;
line-height: calc(19 / 16);
line-height: 100%;
align: Center;
vertical-align: Top;
letter-spacing: 3%;
padding-bottom: 10px;
padding-top: 30px;
}

.team-aft-title{
color: #757575;
font-style: 'Regular';
font-size: 16px;
line-height:calc(19 / 16);
line-height: 100%;
align: Center;
vertical-align: Top;
letter-spacing: 3%;
padding-bottom: 30px;
}
/*------------footer-------------*/

.footer {
  background-color: #2F303A;
  padding-bottom: 60px;
  padding-top: 60px;
}

.footer-logo {
font-family: 'Raleway', sans-serif;
font-style: Bold;
font-size: 26px;
line-height: calc(31 / 26);
line-height: 100%;
align: Left;
vertical-align: Top;
letter-spacing: 3%;
color:#2196F3;
padding-bottom: 20px;
}

.footer-studio {
font-family: 'Raleway', sans-serif;
font-style: Bold;
font-size: 26px;
line-height: calc(31 / 26);
line-height: 100%;
align: Left;
vertical-align: Top;
letter-spacing: 3%;
color: #FFFFFF;
padding-bottom: 20px;
}


.footer-link {
  font-size: 14px;
  line-height: calc(24 / 14);
  line-height: 146%;
  align: Left;
  vertical-align: Top;
  letter-spacing: 3%;
  color: rgba(255, 255, 255, 0.6);
  padding-bottom: 9px;
  padding-top: 9px;
}

.footer-map {
font-size: 14px;
line-height: calc(24 / 14);
line-height: 146%;
align: Left;
vertical-align: Top;
letter-spacing: 3%;
color: #FFFFFF;
}



.footer-link:hover {
  color: var(--blue-text-colour);
}


/*--------portfolio-------*/

.portfolio {
  margin-top: 90px;
  margin-bottom: 50px;
}

.portfolio-link {
  font-style: Medium;
  font-size: 16px;
  line-height: calc(26 / 16);
  line-height: 139%;
  align: Center;
  vertical-align: Top;
  letter-spacing: 3%;
  color: #212121;

}
.portfolio-item {
effect-Style: shadow-middle;
effect: Drop shadow;
radius: 2px;
offset: 0px, 2px;
color: rgba(0, 0, 0, 0.12);
}

/*----------------photo----------------*/

.photo {
  margin-top: 50px;
  margin-bottom: 94px;
}
.photo-title {
font-style: Bold;
font-size: 18px;
line-height: calc(36 / 18);
line-height: 171%;
align: Left;
vertical-align: Top;
letter-spacing: 6%;
color: #212121;
padding-top: 20px;
padding-bottom: 4px;
}

.photo-sec-title {
  font-style: Regular;
  font-size: 16px;
  line-height: calc(30 / 16);
  line-height: 160%;
  align: Left;
  vertical-align: Top;
  letter-spacing: 3%;
  color: #757575;
  padding-bottom: 20px;
}
